.servicesSection {
  padding: var(--spacing-large) var(--spacing-medium);
  background-color: var(--color-background);
  color: var(--color-text);
  text-align: center;
}

.heading {
  font-size: var(--font-size-title);
  color: var(--color-text);
  margin-bottom: var(--spacing-large);
  letter-spacing: 2px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* Similar to VideoInfo section */
  position: relative;
  font-weight: bold;
}

/* Linie sub titlu */
.heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--color-primary); /* Same color as the button */
  margin: 0 auto;
  margin-top: var(--spacing-small);
  border-radius: 2px;
}

/* Container pentru carduri */
.servicesContainer {
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-medium);
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Cardurile individuale */
.service {
  background: var(--color-card-background);
  padding: var(--spacing-large) var(--spacing-small);
  border-radius: var(--border-radius);
  text-align: center;
  width: 22%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: var(--box-shadow-normal);
  position: relative;
  overflow: hidden;
  margin-bottom: var(--spacing-medium);
}

.service:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: var(--box-shadow-hover);
  background: linear-gradient(135deg, #1b2028, #0b1a30 80%);
}

.icon {
  font-size: 3rem;
  color: var(--color-primary);
  margin-bottom: var(--spacing-medium);
  transition: color 0.3s ease;
}

.service:hover .icon {
  color: var(--color-secondary);
}

h3 {
  font-size: var(--font-size-card-title);
  color: var(--color-text);
  margin-bottom: var(--spacing-medium);
}

p {
  font-size: var(--font-size-description);
  color: var(--color-subtext);
  line-height: 1.6;
}

.primaryButton {
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 50px;
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-button);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.primaryButton:hover {
  background-color: var(--color-secondary);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

/* Media Query pentru ecrane mai mici */
@media (max-width: 1024px) {
  .service {
    width: calc(
      33.33% - var(--spacing-medium)
    ); /* Trei carduri pe rând pe tablete */
  }
}

@media (max-width: 768px) {
  .servicesContainer {
    flex-direction: column;
    gap: var(--spacing-medium);
    align-items: center;
  }

  .service {
    width: var(--card-width-mobile); /* Lățime 100% pe mobil */
    max-width: var(--card-max-width-mobile); /* Lățime maximă pentru mobil */
    margin-bottom: var(--spacing-medium);
  }

  .heading {
    font-size: 1.8rem;
  }
}
