.servicesSection {
  padding: var(--spacing-large) var(--spacing-medium);
  background-color: var(--color-background);
  color: var(--color-text);
  text-align: center;
  margin-top: 2rem;
  position: relative;
}

.heading {
  font-size: var(--font-size-title);
  color: var(--color-text);
  margin-bottom: var(--spacing-large);
  letter-spacing: 2px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  font-weight: bold;
}

.heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--color-primary);
  margin: 0 auto;
  margin-top: var(--spacing-small);
  border-radius: 2px;
  animation: slideIn 1s ease-in-out forwards;
}

.servicesContainer {
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-medium);
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.service {
  background: var(--color-card-background);
  padding: var(--spacing-large) var(--spacing-small);
  border-radius: var(--border-radius);
  text-align: center;
  width: 23%;
  transition: transform 0.4s ease, box-shadow 0.4s ease,
    background-color 0.4s ease;
  box-shadow: var(--box-shadow-normal);
  position: relative;
  overflow: hidden;
  margin-bottom: var(--spacing-medium);
  height: 42vh;
}

.service:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: var(--box-shadow-hover);
  background: linear-gradient(135deg, #1b2028, #0b1a30 80%);
}

.service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-radius: var(--border-radius);
  transition: border-color 0.4s ease;
  z-index: 1;
}

.service:hover::before {
  border-color: var(--color-primary);
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-medium);
  transition: transform 0.4s ease;
}

.icon {
  font-size: 3rem;
  transition: color 0.4s ease;
}

.webDevelopment {
  color: #e34f26; /* Culoare pentru Web-Entwicklung */
}

.responsiveDesign {
  color: #61dafb; /* Culoare pentru Responsive Design */
}

.seo {
  color: #4caf50; /* Culoare pentru SEO */
}

.maintenance {
  color: #ffc107; /* Culoare pentru Maintenance */
}

.service:hover .iconContainer {
  transform: rotate(15deg);
}

.service:hover .icon {
  color: var(--color-secondary);
}

h3 {
  font-size: var(--font-size-card-title);
  color: var(--color-text);
  margin-bottom: var(--spacing-medium);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

p {
  font-size: var(--font-size-description);
  color: var(--color-subtext);
  line-height: 1.6;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* Keyframe animations */
@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}

/* Media Query for smaller screens */
@media (max-width: 1024px) {
  .service {
    width: calc(33.33% - var(--spacing-medium));
  }
}

@media (max-width: 768px) {
  .servicesContainer {
    flex-direction: column;
    gap: var(--spacing-medium);
    align-items: center;
  }

  .service {
    width: var(--card-width-mobile);
    max-width: var(--card-max-width-mobile);
    margin-bottom: var(--spacing-medium);
  }

  .heading {
    font-size: 1.8rem;
  }
}
