.servicesContainer {
  padding: var(--spacing-large) var(--spacing-medium);
  color: var(--color-text);
  text-align: center;
  margin-top: 6rem;
  position: relative;
}

.heading {
  font-size: var(--font-size-title);
  color: var(--color-text);
  margin-bottom: var(--spacing-large);
  letter-spacing: 2px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--color-primary);
  margin: 0 auto;
  margin-top: var(--spacing-small);
  border-radius: 2px;
  animation: slideIn 1s ease-in-out forwards;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-medium);
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: var(--color-card-background);
  border-radius: var(--border-radius);
  padding: var(--spacing-medium);
  text-align: center;
  color: var(--color-text);
  position: relative;
  overflow: hidden;
  border: 3px solid transparent;
  transition: transform 0.4s ease, box-shadow 0.4s ease,
    background-color 0.4s ease;
  box-shadow: var(--box-shadow-normal);
  flex: 1 1 calc(30% - var(--spacing-medium));
  max-width: calc(30% - var(--spacing-medium));
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: var(--box-shadow-hover);
  background: linear-gradient(135deg, #1b2028, #0b1a30 80%);
  border-color: var(--color-primary);
}

/* Icon Container */
.iconContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto var(--spacing-medium) auto;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease; /* Transition pentru mișcare */
}

/* Icon */
.icon {
  font-size: 3rem;
  color: #ffffff;
  transition: transform 0.4s ease; /* Transition pentru icon */
}

/* Efect de hover pentru icon */
.card:hover .icon {
  transform: scale(1.2) rotate(15deg); /* Mărire și rotire a iconiței */
}

/* Specific icon styles */
.reactIcon {
  background-color: #61dafb;
}

.nodeIcon {
  background-color: #339933;
}

.jsIcon {
  background-color: #f7df1e;
  color: #000000;
}

.cardTitle {
  font-size: var(--font-size-card-title);
  font-weight: 700;
  margin: var(--spacing-small) 0;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.cardDescription {
  font-size: var(--font-size-description);
  color: var(--color-subtext);
  margin-bottom: var(--spacing-medium);
  line-height: 1.6;
  transition: color 0.4s ease;
}

.card:hover .cardDescription {
  color: var(--color-secondary);
}

/* Button styles */
.primaryButton {
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 50px;
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  cursor: pointer;
  font-size: var(--font-size-button);
  transition: background-color 0.4s ease, transform 0.4s ease;
  box-shadow: var(--box-shadow-normal);
}

.primaryButton:hover {
  background-color: var(--color-secondary);
  transform: scale(1.1);
  box-shadow: var(--box-shadow-hover);
}

/* Keyframe animations */
@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .card {
    flex: 1 1 calc(45% - var(--spacing-medium));
    max-width: calc(45% - var(--spacing-medium));
  }
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex: 1 1 100%;
    max-width: 76%;
    margin-bottom: var(--spacing-medium);
  }

  .iconContainer {
    width: 80px;
    height: 80px;
  }
}
