.scrollToTopButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px; /* Mărime mai mare pentru un aspect modern */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5); /* Umbră mai accentuată */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease; /* Adăugăm și o tranziție pentru umbră */
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8); /* Mărime mai mică când este ascuns */
}

.scrollToTopButton.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1); /* Revine la mărimea normală când este vizibil */
}

.scrollToTopButton:hover {
  background-color: var(--color-secondary);
  transform: translateY(-5px) scale(1.1); /* Ușor să se ridice și să se mărească la hover */
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.7); /* Umbra devine mai accentuată la hover */
}

.scrollToTopButton svg {
  width: 28px; /* Ajustăm dimensiunea iconiței */
  height: 28px;
}

@media (max-width: 768px) {
  .scrollToTopButton {
    bottom: 20px;
    right: 20px;
    width: 50px; /* Ajustăm dimensiunea pentru mobil */
    height: 50px;
  }

  .scrollToTopButton svg {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 480px) {
  .scrollToTopButton {
    bottom: 15px;
    right: 15px;
    width: 45px; /* Dimensiune și mai mică pe ecrane mici */
    height: 45px;
  }

  .scrollToTopButton svg {
    width: 20px;
    height: 20px;
  }
}
