.blogIntro {
  display: flex;
  justify-content: center;
  padding: var(--spacing-large);
  background: var(--color-background-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 80px auto;
  max-width: 1000px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-large);
  align-items: center;
}

.imageContainer {
  flex: 1;
  max-width: 50%;
}

.blogImage {
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-medium);
}

.title {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-small);
}

.title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--color-primary);
  margin: 0 auto;
  margin-top: var(--spacing-small);
  border-radius: 2px;
}

.description {
  font-size: 1.2rem;
  color: var(--color-text);
  line-height: 1.6;
}

.ctaButton {
  padding: var(--spacing-small) var(--spacing-large);
  background-color: var(--color-primary);
  color: var(--color-light);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ctaButton:hover {
  background-color: var(--color-secondary);
  transform: translateY(-3px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imageContainer {
    max-width: 100%;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .ctaButton {
    width: 80%;
  }
}
