.footerSection {
  padding: var(--spacing-small) var(--spacing-medium); /* Adjusted for compactness */
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8),
    rgba(1, 49, 162, 0.6)
  ); /* Dark to blue gradient */
  color: var(--color-text);
  position: relative; /* For potential overlay effects */
  overflow: hidden; /* To contain the pseudo-elements */
  margin-top: 80px;
}

.footerSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2); /* Dark overlay for contrast */
  z-index: 1; /* Ensures overlay is on top of the background */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: var(--spacing-large);
  position: relative; /* To layer text over the pseudo-element */
  z-index: 2; /* Ensure text is above the overlay */
}

.heading {
  font-size: var(--font-size-title); /* Use variable for title size */
  color: var(--color-text); /* Set title color to white */
  margin-bottom: var(--spacing-medium);
  text-transform: uppercase; /* Make headings stand out */
  position: relative; /* For underline effect */
  margin-top: 40px;
}

.heading::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: var(--color-secondary); /* Underline effect color */
  margin: 0.5rem auto; /* Centered under the title */
  border-radius: 5px; /* Rounded edges */
}

.contactInfo,
.quickLinks,
.socialMedia {
  flex: 1 1 30%;
  text-align: left;
}

.contactInfo p,
.quickLinks li,
.socialLinks a {
  margin-bottom: var(--spacing-small);
  color: var(--color-text);
}

.link {
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-secondary);
}

.icon {
  margin-right: var(--spacing-small);
  color: var(--color-primary);
}

.quickLinks ul {
  list-style: none;
  padding: 0;
}

.socialLinks {
  display: flex;
  gap: var(--spacing-medium);
}

.socialLinks a {
  color: var(--color-text);
  font-size: 1.5rem; /* You can also use a variable here if needed */
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: var(--color-secondary);
}

.footerBottom {
  margin-top: var(--spacing-medium);
  border-top: 1px solid var(--color-subtext);
  padding: var(--spacing-small); /* Smaller bottom padding */
  color: var(--color-subtext);
  text-align: center; /* Centered text */
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .contactInfo,
  .quickLinks,
  .socialMedia {
    text-align: center;
    margin-bottom: var(--spacing-small); /* Reduced margin for less spacing */
  }

  .socialLinks {
    justify-content: center;
  }
}
