.footerSection {
  padding: var(--spacing-large) var(--spacing-medium);
  background: var(--color-background);
  color: var(--color-text);
  margin-top: 6rem;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  max-width: 1200px;
  margin: 0 auto;
  gap: var(--spacing-large);
}

.heading {
  font-size: var(--font-size-title);
  color: var(--color-text);
  margin-bottom: var(--spacing-medium);
  position: relative;
  margin-top: 20px;
  text-align: center; /* Center the text */
}

.heading::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: var(--color-secondary);
  margin: 0.5rem auto;
  border-radius: 5px;
}

.contactInfo,
.quickLinks,
.socialMedia {
  flex: 1 1 30%;
  min-width: 250px;
  text-align: center; /* Center text within each section */
}

.contactInfo p,
.quickLinks li,
.socialMedia p {
  margin-bottom: var(--spacing-small);
  color: var(--color-text);
}

.link {
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-secondary);
}

.icon {
  margin-right: var(--spacing-small);
  color: var(--color-primary);
}

.quickLinks ul {
  list-style: none;
  padding: 0;
}

.socialLinks {
  display: flex;
  justify-content: center; /* Center social icons */
  gap: var(--spacing-medium);
}

.socialLinks a {
  color: var(--color-text);
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.socialLinks a:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
}

.footerBottom {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
  height: 80px; /* Adjust the height for more balanced spacing */
  margin-top: var(--spacing-medium); /* Space above the line */
  border-top: 1px solid var(--color-subtext); /* Add the top border */
  padding-top: var(--spacing-small); /* Add some padding at the top */
  color: var(--color-subtext);
  text-align: center;
  background-color: var(--color-background); /* Ensure background consistency */
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .contactInfo,
  .quickLinks,
  .socialMedia {
    text-align: center;
    margin-bottom: var(--spacing-small);
  }

  .heading {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .socialLinks {
    justify-content: center;
  }
}
