.reviewsSection {
  padding: 60px 20px;
  background-color: var(--color-background);
  color: var(--color-text);
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 6rem;
}

.heading {
  font-size: var(--font-size-title); /* Use variable for title size */
  color: #ffffff; /* Set title color to white */
  margin-bottom: var(--spacing-medium); /* Use variable for spacing */
  position: relative;
}

.heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--color-primary);
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 2px;
}

.reviewsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-medium); /* Use variable for gap */
  max-width: 1200px;
  margin: 0 auto;
}

.reviewCard {
  background: linear-gradient(
    135deg,
    rgba(27, 32, 40, 0.9),
    rgba(11, 26, 48, 0.8)
  );
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-normal);
  text-align: center;
  width: calc(30% - 40px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  animation: fadeIn 0.5s ease forwards;
}

.reviewCard:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: var(--box-shadow-hover);
}

.reviewerName {
  font-size: var(--font-size-card-title); /* Use variable for card title size */
  color: var(--color-primary);
  margin-bottom: var(--spacing-small); /* Use variable for spacing */
}

.rating {
  color: gold;
  margin-bottom: var(--spacing-small); /* Use variable for spacing */
  font-size: 1.5rem;
}

.star {
  color: gold;
  margin-right: 2px;
}

.starEmpty {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2px;
}

.reviewText {
  font-size: var(
    --font-size-description
  ); /* Use variable for description size */
  color: var(--color-subtext);
  line-height: 1.5;
}

/* Animation for fading in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .reviewCard {
    width: calc(45% - 20px); /* Two cards per row on tablets */
  }
}

@media (max-width: 768px) {
  .reviewCard {
    width: calc(100% - 20px); /* One card per row on mobile */
  }

  .heading {
    font-size: var(
      --font-size-title
    ); /* Ensure mobile uses the same variable */
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: var(
      --font-size-title
    ); /* Maintain consistency for small screens */
  }
}
