.reviewsSection {
  padding: 60px 20px;
  background-color: var(--color-background);
  color: var(--color-text);
  text-align: center;
  margin-top: 6rem;
}

.heading {
  font-size: var(--font-size-title);
  color: #ffffff;
  margin-bottom: var(--spacing-medium);
  position: relative;
}

.heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--color-primary);
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 2px;
}

.sliderContainer {
  max-width: 900px; /* Increase width to make the card appear bigger */
  margin: 0 auto; /* Center the slider */
  padding: 20px; /* Add padding for better spacing */
}

.slider {
  padding: 0 30px; /* Add horizontal padding to prevent cutting off edges */
}

.reviewCard {
  background: linear-gradient(
    135deg,
    rgba(27, 32, 40, 0.9),
    rgba(11, 26, 48, 0.8)
  );
  padding: 40px; /* Adjust padding for spaciousness */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-normal);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 800px; /* Set a max-width for better content alignment */
  margin: 0 auto; /* Center each card */
}

.reviewCard:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: var(--box-shadow-hover);
}

.reviewerName {
  font-size: var(--font-size-card-title);
  color: var(--color-primary);
  margin-bottom: var(--spacing-small);
}

.rating {
  color: gold;
  margin-bottom: var(--spacing-small);
  font-size: 1.5rem;
}

.star {
  color: gold;
  margin-right: 2px;
}

.starEmpty {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2px;
}

.reviewText {
  font-size: var(--font-size-description);
  color: var(--color-subtext);
  line-height: 1.5;
  margin-top: 20px;
}

/* Custom styles for slick dots */
.slick-dots {
  bottom: 10px; /* Adjust dot position */
}

.slick-dots li button:before {
  color: var(--color-primary); /* Change dot color */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .reviewCard {
    padding: 30px; /* Adjust padding for mobile */
  }

  .sliderContainer {
    padding: 0 15px; /* Adjust padding for smaller screens */
  }
}
